<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :question_type %><br />
    <%= f.text_field :question_type %>
  </div>
  <div class="field">
    <%= f.label :default_value %><br />
    <%= f.text_area :default_value %>
  </div>
  <div class="field">
    <%= f.label :suggested_answer %><br />
    <%= f.text_area :suggested_answer %>
  </div>
  <div class="field">
    <%= f.label :guidance %><br />
    <%= f.text_area :guidance %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :dependency_id %><br />
    <%= f.number_field :dependency_id %>
  </div>
  <div class="field">
    <%= f.label :dependency_text %><br />
    <%= f.text_area :dependency_text %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.number_field :section_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
