<h1>Listing questions</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Question type</th>
    <th>Question default value</th>
    <th>Question suggested answer</th>
    <th>Question guidance</th>
    <th>Question number</th>
    <th>Question parent</th>
    <th>Question dependency</th>
    <th>Question dependency text</th>
    <th>Section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.text %></td>
    <td><%= question.question_type %></td>
    <td><%= question.default_value %></td>
    <td><%= question.suggested_answer %></td>
    <td><%= raw question.guidance %></td>
    <td><%= question.number %></td>
    <td><%= question.parent_id %></td>
    <td><%= question.dependency_id %></td>
    <td><%= question.dependency_text %></td>
    <td><%= question.section_id %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
