<p id="notice"><%= notice %></p>

<p>
  <b>Question text:</b>
  <%= @question.text %>
</p>

<p>
  <b>Question type:</b>
  <%= @question.type %>
</p>

<p>
  <b>Question default value:</b>
  <%= @question.default_value %>
</p>

<p>
  <b>Question suggested answer:</b>
  <%= @question.suggested_answer %>
</p>

<p>
  <b>Question guidance:</b>
  <%= @question.guidance %>
</p>

<p>
  <b>Question order:</b>
  <%= @question.order %>
</p>

<p>
  <b>Question parent:</b>
  <%= @question.parent_id %>
</p>

<p>
  <b>Question dependency:</b>
  <%= @question.dependency_id %>
</p>

<p>
  <b>Question dependency text:</b>
  <%= @question.dependency_text %>
</p>

<p>
  <b>Section:</b>
  <%= @question.section_id %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
