<h1>Listing guidances</h1>

<table>
  <tr>
    <th>Guidance text</th>
    <th>Guidance file</th>
    <th>Org</th>
    <th>Theme</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guidances.each do |guidance| %>
  <tr>
    <td><%= guidance.text %></td>
    <td><%= guidance.file_id %></td>
    <td><%= guidance.organisation_id %></td>
    <td><%= guidance.theme_id %></td>
    <td><%= link_to 'Show', guidance %></td>
    <td><%= link_to 'Edit', edit_guidance_path(guidance) %></td>
    <td><%= link_to 'Destroy', guidance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guidance', new_guidance_path %>
