<p id="notice"><%= notice %></p>

<p>
  <b>Guidance text:</b>
  <%= @guidance.text %>
</p>

<p>
  <b>Guidance file:</b>
  <%= @guidance.file_id %>
</p>

<p>
  <b>Org:</b>
  <%= @guidance.organisation_id %>
</p>

<p>
  <b>Theme:</b>
  <%= @guidance.theme_id %>
</p>


<%= link_to 'Edit', edit_guidance_path(@guidance) %> |
<%= link_to 'Back', guidances_path %>
