<h1>News</h1>
<h2>DMPonline stories from the DCC website</h2>
<% @dcc_news_feed.entries.each do |entry| %>
	<div class="white_background">
		<h3><%= entry.title.sanitize %></h3>
		<% summary = entry.summary.sanitize %>
		<% summary = summary.gsub(/\A<img([^>])+>/, "") %>
		<% summary = summary.gsub(/\A<div([^>])+>/, "") %>
		<% name = summary[/\A[\s\w]*([^,])/].strip %>
		<% summary = summary.gsub(/\A.*div>/, "") %>
		<% summary = summary.gsub(/<p>.*\z/, "") %>
		<p><%= raw summary.strip %></p>
		<p>By <%= entry.author %> on <%= entry.published.strftime("%d/%m/%Y") %></p>
		<p>Read more on the <%= link_to "DCC Website", entry.url %></p>
	</div>
	<br />
<% end %>