<!-- edit template details A template is passed as an argument-->

<%= form_for(dmptemplate, :url => admin_update_dmptemplate_path(dmptemplate), :html => { :method => :put}) do |f| %>

	<table class="dmp_details_table">
		<tr>
			<td class="first"><%= t('org_admin.templates.title_label') %></td>
			<td><%= f.text_field :title, :as => :string, 
						:class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => t('org_admin.templates.title_help_text') %></td>
		</tr>
		<tr>
			<td class="first"><%= t('org_admin.templates.desc_label') %></td>
			<td><%= text_area_tag("template-desc", dmptemplate.description, class: "tinymce") %>
			</td>
		</tr>
		<tr>
			<td class="first"><%= t('org_admin.templates.published_label') %></td>
			<td><%= f.check_box :published, :as => :check_boxes	%></td>
		</tr>
		<tr>
			<td class="first"><%= t('org_admin.templates.created') %></td>
			<td>
				<%= l dmptemplate.created_at.to_date, :formats => :short %>
			</td>
		</tr>
		<tr>
			<td class="first"><%= t('org_admin.templates.last_updated') %></td>
			<td>
				<%= l dmptemplate.updated_at.to_date, :formats => :short %>
			</td>
		</tr>
	</table>
	<!-- submit buttons -->
	
		<div class="move_2_right">
			<%= f.submit t('helpers.submit.save'), :class => 'btn btn-primary' %>
			<%= link_to t('helpers.submit.cancel'), admin_template_dmptemplate_path(dmptemplate), :class => 'btn cancel' %>
		</div>
	
	<br />
	
<%end%>