<%= form_for(@dmptemplate) do |f| %>
  <% if @dmptemplate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dmptemplate.errors.count, "error") %> prohibited this dmptemplate from being saved:</h2>

      <ul>
      <% @dmptemplate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :template_title %><br />
    <%= f.text_field :template_title %>
  </div>
  <div class="field">
    <%= f.label :template_desc %><br />
    <%= f.text_area :template_desc %>
  </div>
  <div class="field">
    <%= f.label :template_published %> <%= f.check_box :template_published %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :org_id %><br />
    <%= f.number_field :org_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
