<%= stylesheet_link_tag "admin" %>
<% javascript 'admin.js' %>

<h1>
	<%= t('org_admin.guidance_label') %>
	<!-- link button to add new guidance -->
	<div class="move_2_right">
		<%= link_to t("org_admin.guidance.add_guidance"),
		            admin_new_guidance_path(),
		            :class => 'btn btn-primary' %>
		<%= link_to t("org_admin.guidance.view_all_guidance"),
		            admin_index_guidance_path,
		            :class => 'btn btn-primary' %>
	</div>            
</h1>

<div class="div_clear"></div>

<div class="white_background">
	<!-- body -->
	<div class="dmp_details">
		<%= form_for(@guidance, :url => admin_update_guidance_path(@guidance), :html => { :method => :put}) do |f| %>
			
				<table class="dmp_details_table">
					<tr>
						<td class="first"><%= t('org_admin.guidance.text_label') %></td>
						<td><%= text_area_tag("guidance-text", @guidance.text, class: "tinymce") %></td>
					</tr>
					<tr>
						<td class="first"><%= t('org_admin.guidance.theme_label') %></td>
						<td><%= f.collection_select(:theme_ids,
								Theme.find(:all, :order => 'title ASC'),
								:id, :title, {:prompt => false, :include_blank => 'None'}, {:multiple => true})%>
						</td>
					</tr>
					<tr>
						<td class="first"><%= t('org_admin.guidance.question') %></td>
						<td><%=collection_select(:guidance, 
								:question_id, Question.order("text"), 
								:id, :text, {include_blank: 'None'}) %></td>
					
					</tr>
					<tr>
						<td class="first"><%= t('org_admin.guidance.guidance_group_label') %></td>
						<td><%= f.collection_select(:guidance_group_ids,
								GuidanceGroup.find(:all, :order => 'name ASC'),
								:id, :name, {:prompt => false, :include_blank => 'None'}, {:multiple => true})%>
						</td>
					</tr>
					
				</table>
			
			<!-- submit buttons -->
			
				<div class="move_2_right">
					<%= f.submit t('helpers.submit.save'), :class => 'btn btn-primary' %>
					<%= link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-primary' %>
				</div>
			
			<br />
			<%= tinymce :content_css => asset_path('application.css') %>
		<%end%>
	</div>
</div>	
