<%- model_class = Phase -%>
<%= stylesheet_link_tag "admin" %>
<% javascript 'admin.js' %>

<h1>
	<%= @phase.dmptemplate.title %>
	<!-- link button to add new guidance -->
	<div class="move_2_right">
		<%= link_to t("org_admin.templates.view_all_templates"),
		            admin_index_dmptemplate_path,
		            :class => 'btn btn-primary' %>
	</div>            
</h1>

<div class="div_clear"></div>

<!-- render navigation tabs for the template-->
<%= render :partial => "templates_nav_tabs", locals: {dmptemplate: @phase.dmptemplate, active: @phase.id} %>

<!-- plan main container -->
<%= form_for(@phase, :url => admin_updatephase_dmptemplate_path(@phase), :html => { :method => :put}) do |f| %>
	<div class="project-tabs-body">
	    <div class="accordion" id="sections-accordion">
	    	<div class="phase_details">
	    		<div class="phase_details_text">
	    				<%= t('org_admin.templates.phase_details_label')%>
	    		</div>
	    		<div class="div_clear"></div>		
	    		<div class="phase_details_body">
	    			<table class="dmp_details_table phase">
						<tr>
							<td class="first_template"><%= t('org_admin.templates.title_label') %></td>
							<td><%= f.text_field :title, 
										:as => :string, 
										:class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => t('org_admin.templates.phase_title_help_text') %></td>
										
						</tr>
						<tr>
							<td class="first_template"><%= t('org_admin.templates.desc_label') %></td>
							<td><%= text_area_tag("template-desc", @phase.description, class: "tinymce") %>
							</td>
						</tr>
					</table>
					
					<div class="div_clear"></div>		
	    		
				</div>	
				
	    	</div>	
	    	<%if !@phase.versions.nil? then %>
	    		<% @phase.versions.each do |version|%>
			    	<% sections = version.sections %>
			    	<% sections.each do |section| %>
			    		<div class="accordion-group">
			    			<div class="accordion-heading">
			    				<%= f.fields_for section do |sec|%>
				    				<a class="accordion-toggle" data-toggle="collapse" data-parent="#sections-accordion" href="#collapse-<%= section.id%>">
				    					<div class="accordion_heading_text">
											<%= sec.text_field :title, 
											:as => :string, 
											:class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => t('org_admin.templates.section_title_help_text') %>
										</div>	
				    					<!-- + or - icon-->
				                    	<span class="icon-plus icon-white accordion-icon"> </span>
				                    	
				    				</a>
				    			<%end%>	
			    			</div>
			    			<div id="collapse-<%= section.id%>" class="accordion-body collapse section-collapse">
			    				<div class="accordion-inner">
									<% section.questions.order("number").each do |question| %>
										<% last_question_id = section.questions.order("number DESC").first.id%>
										<div class="question-div">
											<table class="dmp_details_table phase">
												<%= f.fields_for question do |ques|%>
												<tr >
													<!--question number -->
													<td class="first_template">Question number</td>
													<td><%= ques.number_field :number, :in => 0..50, :class => "number_field" %>
														<div class="border_bottom"></div>
													</td>
												</tr>
												<tr>
													<!--question text -->
													<td class="first_template">Question</td>
													<td><%= ques.text_area :text, :rows => "5" %>
														<div class="border_bottom"></div>
													</td>
												</tr>
												
												<!-- Question Type -->
												<tr>
													<td class="first_template">Answer box options</td>
													<td><div id="ques-<%= question.id %>-format" class="ques_format">
															<%= ques.hidden_field :id, { :class => 'question_id' } %>
															<%= ques.select :question_format_id, 
																	options_from_collection_for_select(QuestionFormat.find(:all, :order => 'title ASC'),:id, :title, question.question_format_id), 
																	{},	:id => "#{question.id}-select-format"%>
														</div>	
														
														<!--display form to enter option from checkbox/radio button/ dropdown/ multi select box-->
														<div id='options-<%= question.id %>' style="display:none;" class="ques_format_option">
															<table class="options_table">
																<thead>
																	<tr>
																		<th class="small">Order</th>
																		<th class="medium">Text</th>
																		<th class="small">Default</th>
																		<th class="small">&nbsp;</th>	
																	</tr>
																</thead>
																<tbody class="options_tbody">
																	<% if question.options.count == 0 then %>
																		<% 2.times {question.options.build } %>
																	<%end%>
																	<% question.options.each do |options_q|%>
																		<%= ques.fields_for options_q do |op|%>
																			<%= render 'option_fields', :f => op %>
																		<%end%>
																		
																	<%end%>	
																</tbody>
															</table>
															<%= link_to_add_options "Add option", ques, :options %>	
														</div>
														<!--display for default value for text field-->
														<div id='default-text-field-<%= question.id %>' style="display:none;" class="ques_format">
															<div >
																Default answer
															</div>
															<%= ques.text_field :default_value, :as => :string %>
														</div>
														<!--display for default value for text area-->
														<div id='default-text-area-<%= question.id %>' style="display:none;" class="ques_format">
															<div >
																Default answer
															</div>
															<%= ques.text_area :default_value, :rows => 3 %>
														</div>
														<div class="add_space"></div>
														<div class="border_bottom"></div>
													</td>	
												</tr>
												<%end%>
												
												<!-- Suggested answer or Example-->
												<tr>
													<td class="first_template">Suggested answer/ Example</td>
													<td><% suggested_answer = question.suggested_answers.where("organisation_id = ?", current_user.organisation.id).first %>
														<% if suggested_answer.nil? then%>
															<% suggested_answer = question.suggested_answers.build %>
														<%end%>	 
														<%= f.fields_for suggested_answer do |s|%>
															<ul>
																<li><%= s.select :is_example, {"Suggested answer" => false, "Example" => true} %></li>
																<li><%= s.text_area :text, :rows => 5 %>
																</li>
															</ul>
														<%end%>
														<div class="border_bottom"></div>
													</td>
												</tr>
												
												<%= f.fields_for question do |q|%>
												<!-- Guidance for Question -->
												<tr>
													<td class="first_template">Guidance</td>
													<td><%= text_area_tag("question-guidance-#{question.id}", question.guidance , class: "tinymce") %>
														<div class="border_bottom"></div>
													</td>
												</tr>
												
												<!-- Themes -->
												<tr>
													<td class="first_template">Themes</td>
													<td><%= q.collection_select(:theme_ids,
																Theme.find(:all, :order => 'title ASC'),
																:id, :title, {:prompt => false, :include_blank => 'None'}, {:multiple => true})%>
													</td>
												</tr>
												<%end%>
											</table>	
										</div>		
											
										<!--guidance area -->
										<div class="question-guidance">
											<div class="accordion" id="<%= question.id %>-guidance">
												<% if !question.guidance.nil? && question.guidance != "" then %>
													<div class="accordion-group">
														<div class="accordion-heading">
															<a class="accordion-guidance-link" data-toggle="collapse" data-parent="#<%= question.id %>-guidance" href="#collapse-guidance-<%= question.id%>">
																<div class="accordion_heading_text">
																<%= question.section.organisation.abbreviation %> <%= t('helpers.guidance')%> 
																</div>
																<span class="plus-laranja"> </span></a>
														</div>
														<div id="collapse-guidance-<%= question.id%>" class="guidance-accordion-body collapse">
															<div class="accordion-inner"><%= raw question.guidance %></div>
														</div>
													</div>
												<% end %>
												
												<% @phase.guidance_for_question(question, current_user.organisation).each_pair do |title,guidance| %>
													<div class="accordion-group">											
														<div class="accordion-heading">
															<a class="accordion-guidance-link" data-toggle="collapse" data-parent="#<%= question.id %>-guidance" href="#collapse-guidance-<%= guidance.id%>-<%= question.id %>">
																<div class="accordion_heading_text">
																<%= title%> 
																</div>
																<span class="plus-laranja"> </span></a>
														</div>
														<div id="collapse-guidance-<%= guidance.id%>-<%= question.id %>" class="guidance-accordion-body collapse">
															<div class="accordion-inner"><%= raw guidance.text %></div>
														</div>
													</div>
												<% end %>	
											</div>
										</div>		
										<% if last_question_id == question.id then %>
											<div class="two-column-clear"></div>
										<% else %>
											<div class="two-column-clear question-divider"></div>
										<% end %>	
											
									<%end%>
			    				</div>
			    			</div>
			    		</div>
			    	<% end %>
			    <%end%>
		 	<%end%>   	
	    </div>
	    
	    
	    <!-- submit buttons -->
				
		<div class="move_2_right">
			<%= f.submit t('helpers.submit.save'), :class => 'btn btn-primary' %>
			<%= link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-primary' %>
		</div>
	     <%= tinymce :content_css => asset_path('application.css') %>
	</div>
<%end%>	
   