<%= stylesheet_link_tag "admin" %>

<h1>
	<%= @dmptemplate.title %>
	<!-- link button to add new guidance -->
	<div class="move_2_right">
		<%= link_to t("org_admin.templates.view_all_templates"),
		            admin_index_dmptemplate_path,
		            :class => 'btn btn-primary' %>
	</div>            
</h1>

<div class="div_clear"></div>

<!-- render navigation tabs for the template-->
<%= render :partial => "templates_nav_tabs", locals: {dmptemplate: @dmptemplate, active: "show_template"} %>
<!-- body -->
<div class="dmp_details_body">
	<div class="dmp_details">
		<!-- edit project button -->
		<div class="div_right">
			<%= link_to t("org_admin.templates.edit_details"), admin_edit_dmptemplate_path(@dmptemplate), :class => "btn btn-primary"%>
		</div>
		<table class="dmp_details_table">
			<tr>
				<td class="first"><%= t('org_admin.templates.title_label') %></td>
				<td><%= @dmptemplate.title %></td>
			</tr>
			<tr>
				<td class="first"><%= t('org_admin.templates.desc_label') %></td>
				<td>
					<% if !@dmptemplate.description.nil? && @dmptemplate.description != "" then %>
						<%= raw @dmptemplate.description %>
					<%else%>
						 -
					<%end%>	
				</td>
			</tr>
			<tr>
				<td class="first"><%= t('org_admin.templates.published_label') %></td>
				<td>
					<%= @dmptemplate.published %>
				</td>
			</tr>
			<tr>
				<td class="first"><%= t('org_admin.templates.created') %></td>
				<td>
					<%= l @dmptemplate.created_at.to_date, :formats => :short %>
				</td>
			</tr>
			<tr>
				<td class="first"><%= t('org_admin.templates.last_updated') %></td>
				<td>
					<%= l @dmptemplate.updated_at.to_date, :formats => :short %>
				</td>
			</tr>
		</table>
		
	</div>
	
	<!-- If template has phases-->
	<% if !@dmptemplate.phases.nil? then %>
		<% if @dmptemplate.phases.count == 1 then %>
			<% @dmptemplate.phases.each do |phase| %>
				
				<div class="div_clear"></div>
				
				<div class="div_left">
					<p><%= raw phase.description %></p>
				</div>	 
				<div class="div_right">
					<%= link_to t('org_admin.templates.view_phase_label'), admin_showphase_dmptemplate_path(phase), :class => "btn btn-primary" %>
					<%= link_to t('org_admin.templates.edit_phase_label'), admin_editphase_dmptemplate_path(phase), :class => "btn btn-primary" %>
				</div>
				
				<% if phase.versions.any? then %>
					<% phase.versions.each do |version|%>
						<% if version.sections.any? then %>
							<table class="dmp_table">
								<thead>
								    <tr>
								      	<th class="dmp_th_medium"><%= t('helpers.sections_label')%></th>
								      	<th class="dmp_th_big"><%= t('helpers.questions_label')%></th>
				   					</tr>
			   					</thead>
			   					<tbody>
			   						<% version.sections.each do |section| %>
										<tr >
											<th class="dmp_th_border" >
												<p><%= section.title %></p>
											</th>
			        						<td class="dmp_td_border" >	
												<% if section.questions.any? %>
													<% questions = section.questions.sort_by(&:number) %>
													<ul class="question_ul">
														<% questions.each do |ques|%>
															<li>
																- <%= ques.text %>
															</li>	
														<%end%>
													</ul>
												<%end%>		
											</td>
										</tr>		
									<%end%>
								</tbody>	
							</table>
						<%end%>
					<%end%>
				<%end%>	
			<%end%>
		<%else%>	
			<% @dmptemplate.phases.each do |phase| %>
				<div class="accordion" id="project-accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#project-accordion" href="#<%= phase.id %>">
								<h3><%= phase.title %><span class="plus-laranja"> </span>
								</h3>
							</a>
						</div>
						<div id="<%= phase.id %>" class="accordion-project collapse">
							<div class="accordion-inner">
								
								<div class="div_clear"></div>
				
								<div class="div_left">
									<p><%= raw phase.description %></p>
								</div>	 
								<div class="div_right">
									<%= link_to t('org_admin.templates.view_phase_label'), admin_showphase_dmptemplate_path(phase), :class => "btn btn-primary" %>
									<%= link_to t('org_admin.templates.edit_phase_label'), admin_editphase_dmptemplate_path(phase), :class => "btn btn-primary" %>
								</div>
															
								<% if !phase.versions.nil? %>
									<% phase.versions.each do |version|%>
										<table class="dmp_table">
											<thead>
											    <tr>
											      	<th class="dmp_th_medium"><%= t('helpers.sections_label')%></th>
											      	<th class="dmp_th_big"><%= t('helpers.questions_label')%></th>
							   					</tr>
						   					</thead>
						   					<tbody>
						   						<% version.sections.each do |section| %>
													<tr >
														<th class="dmp_th_border" >
															<p><%= section.title %></p>
														</th>
						        						<td class="dmp_td_border" >	
															<% if section.questions.any? %>
																<% questions = section.questions.sort_by(&:number) %>
																<ul class="question_ul">
																	<% questions.each do |ques|%>
																		<li>
																			- <%= ques.text %>
																		</li>	
																	<%end%>
																</ul>
															<%end%>		
														</td>
													</tr>		
												<%end%>
											</tbody>	
										</table>
									<%end%>	
								<%end%>
							</div>
						</div>
					</div>
				</div>				
			<%end%>	
		<%end%>	
	<%end%>				
</div>						
							
							
						
