<p id="notice"><%= notice %></p>

<p>
  <b>Template title:</b>
  <%= @dmptemplate.template_title %>
</p>

<p>
  <b>Description:</b>
  <%= @dmptemplate.template_desc %>
</p>

<p>
  <b>Published:</b>
  <%= @dmptemplate.template_published %>
</p>

<p>
  <b>User id:</b>
  <%= @dmptemplate.user_id %>
</p>

<p>
  <b>Organisation:</b>
  <%= @dmptemplate.org_id %>
</p>


<%= link_to 'Edit', edit_dmptemplate_path(@dmptemplate) %> |
<%= link_to 'Back', dmptemplates_path %>
