<p id="notice"><%= notice %></p>

<p>
  <b>File upload name:</b>
  <%= @file_upload.file_upload_name %>
</p>

<p>
  <b>File upload title:</b>
  <%= @file_upload.file_upload_title %>
</p>

<p>
  <b>File upload desc:</b>
  <%= @file_upload.file_upload_desc %>
</p>

<p>
  <b>File upload size:</b>
  <%= @file_upload.file_upload_size %>
</p>

<p>
  <b>File upload published:</b>
  <%= @file_upload.file_upload_published %>
</p>

<p>
  <b>File upload location:</b>
  <%= @file_upload.file_upload_location %>
</p>

<p>
  <b>File type:</b>
  <%= @file_upload.file_type_id %>
</p>


<%= link_to 'Edit', edit_file_upload_path(@file_upload) %> |
<%= link_to 'Back', file_uploads_path %>
