<%= form_for(@user_org_role) do |f| %>
  <% if @user_org_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_org_role.errors.count, "error") %> prohibited this user_org_role from being saved:</h2>

      <ul>
      <% @user_org_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :org_id %><br />
    <%= f.number_field :org_id %>
  </div>
  <div class="field">
    <%= f.label :user_role_type_id %><br />
    <%= f.number_field :user_role_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
