<h1><%= t('helpers.sign_up') %></h1>
	<div class="dmp_details_body">

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	<div class="dmp_details">
		<table class="dmp_details_table">
			<tr>
				<td class="first"><%= t('helpers.email') %></td>
				<td><%= f.email_field :email, :autofocus => true, :class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => "This must be a valid email address - an email will be sent to it for confirmation." %></td>
			</tr>
			<tr>
				<td class="first"><%= t('helpers.password') %></td>
				<td><%= f.password_field :password, :class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => "This must be at least 8 characters long." %></td>
			</tr>
			<tr>
				<td class="first"><%= t('helpers.password_conf') %></td>
				<td><%= f.password_field :password_confirmation, :class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => "This must match what you entered in the previous field." %></td>
			</tr>
		</table>
	  <div class="div_right">
	  	<%= f.submit t('helpers.sign_up'), :class => 'btn btn-primary' %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
	</div>
</div>	