<p id="notice"><%= notice %></p>

<p>
  <b><%= t('helpers.title') %>:</b>
  <%= @dmptemplate.title %>
</p>

<p>
  <b>Description:</b>
  <%= @dmptemplate.description %>
</p>

<p>
  <b>Published:</b>
  <%= @dmptemplate.published %>
</p>

<p>
  <b>User id:</b>
  <%= @dmptemplate.user_id %>
</p>

<p>
  <b>Organisation:</b>
  <%= @dmptemplate.organisation_id %>
</p>


<%= link_to 'Edit', edit_dmptemplate_path(@dmptemplate) %> |
<%= link_to 'Back', dmptemplates_path %>
