<p id="notice"><%= notice %></p>

<p>
  <b>Theme title:</b>
  <%= @theme.theme_title %>
</p>

<p>
  <b>Theme desc:</b>
  <%= @theme.theme_desc %>
</p>


<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
