<%= form_for(@organisation) do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
      <% @organisation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :target_url %><br />
    <%= f.text_field :target_url %>
  </div>
  <div class="field">
    <%= f.label :logo_file_id %><br />
    <%= f.number_field :logo_file_id %>
  </div>
  <div class="field">
    <%= f.label :banner_file_id %><br />
    <%= f.number_field :banner_file_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :wayfless_entite %><br />
    <%= f.number_field :wayfless_entite %>
  </div>
  <div class="field">
    <%= f.label :stylesheet_file_id %><br />
    <%= f.number_field :stylesheet_file_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
