<%= stylesheet_link_tag "admin" %>
<% javascript 'admin.js' %>

<h1>
	<%= t('org_admin.org_details_label') %>
</h1>
<!-- :abbreviation, :banner_file_id, :description, :domain, :logo_file_id, :name,
 :stylesheet_file_id, :target_url, :organisation_type_id, :wayfless_entity, :parent_id, :sort_name
	-->
<div class="white_background blue_border">
	<!-- body -->
	<div class="dmp_details">
		<%= form_for(@organisation, :url => admin_update_organisation_path(current_user.organisation_id), :html => { :method => :put}) do |f| %>
			
				<table class="dmp_details_table">
					<tr>
						<td class="first"><%= t('org_admin.org_name') %></td>
						<td><%= f.text_field :name, 
								:as => :string, 
								:class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => t('org_admin.name_help_text') %></td>
					</tr>
					<tr>
						<td class="first"><%= t('org_admin.org_abbr') %></td>
						<td><div class="div_left_icon_g">
								<%= f.text_field :abbreviation,
								:as => :string, 
								:class => 'text_field' %>
							</div>
							<div class="div_right_icon_g">
								<%= link_to( image_tag('help_button.png'), '#', :class => 'org_abbr_popover', :rel => "popover", 'data-html' => "true", 'data-content' => t('org_admin.templates.desc_help_text_html'))%>
							</div>
							<div class="clearfix"></div>
							</td>
					
					</tr>
					<tr>
						<td class="first"><%= t('org_admin.org_desc') %></td>
						<td><%= f.text_area :description, { 
								:rows => 5, 
								:class => 'text_area has-tooltip', 'data-toggle' => "tooltip", 'data-html' => "true", 'title'=> t('org_admin.desc_help_text_html')} %></td>
					</tr>
					<tr>
						<td class="first"><%= t('org_admin.org_target_url') %></td>
						<td><%= f.text_field :target_url,
								:as => :string, 
								:class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => t('org_admin.target_url_help_text') %></td>
					</tr>
					<tr>
						<td class="first"><%= t('org_admin.org_type') %></td>
						<td><%= @organisation.organisation_type.name %></td>
					</tr>
				</table>
			
			<!-- submit buttons -->
			
				<div class="move_2_right">
					<%= f.submit t('helpers.submit.save'), :class => 'btn btn-primary' %>
					<%= link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-primary' %>
				</div>
			
			<br />
		<%end%>
	</div>
</div>	
