<p id="notice"><%= notice %></p>

<p>
  <b>Org name:</b>
  <%= @organisation.name %>
</p>

<p>
  <b>Org abbre:</b>
  <%= @organisation.abbreviation %>
</p>

<p>
  <b>Org desc:</b>
  <%= @organisation.description %>
</p>

<p>
  <b>Org target url:</b>
  <%= @organisation.target_url %>
</p>

<p>
  <b>Org logo file:</b>
  <%= @organisation.logo_file_id %>
</p>

<p>
  <b>Org banner file:</b>
  <%= @organisation.banner_file_id %>
</p>

<p>
  <b>Org type:</b>
  <%= @organisation.type_id %>
</p>

<p>
  <b>Org domain:</b>
  <%= @organisation.domain %>
</p>

<p>
  <b>Org wayfless entite:</b>
  <%= @organisation.wayfless_entite %>
</p>

<p>
  <b>Org stylesheet file:</b>
  <%= @organisation.stylesheet_file_id %>
</p>


<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
