<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_firstname %><br />
    <%= f.text_field :user_firstname %>
  </div>
  <div class="field">
    <%= f.label :user_surname %><br />
    <%= f.text_field :user_surname %>
  </div>
  <div class="field">
    <%= f.label :user_email %><br />
    <%= f.text_field :user_email %>
  </div>
  <div class="field">
    <%= f.label :user_password %><br />
    <%= f.text_field :user_password %>
  </div>
  <div class="field">
    <%= f.label :user_orcid_id %><br />
    <%= f.text_field :user_orcid_id %>
  </div>
  <div class="field">
    <%= f.label :user_shibboleth_id %><br />
    <%= f.text_field :user_shibboleth_id %>
  </div>
  <div class="field">
    <%= f.label :user_type_id %><br />
    <%= f.number_field :user_type_id %>
  </div>
  <div class="field">
    <%= f.label :user_status_id %><br />
    <%= f.number_field :user_status_id %>
  </div>
  <div class="field">
    <%= f.label :user_login_count %><br />
    <%= f.number_field :user_login_count %>
  </div>
  <div class="field">
    <%= f.label :user_last_login %><br />
    <%= f.datetime_select :user_last_login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
