<p id="notice"><%= notice %></p>

<p>
  <b>User firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>User surname:</b>
  <%= @user.surname %>
</p>

<p>
  <b>User email:</b>
  <%= @user.email %>
</p>

<p>
  <b>User password:</b>
  <%= @user.password %>
</p>

<p>
  <b>User orcid:</b>
  <%= @user.orcid_id %>
</p>

<p>
  <b>User shibboleth:</b>
  <%= @user.shibboleth_id %>
</p>

<p>
  <b>User type:</b>
  <%= @user.user_type_id %>
</p>

<p>
  <b>User status:</b>
  <%= @user.user_status_id %>
</p>

<p>
  <b>User login count:</b>
  <%= @user.login_count %>
</p>

<p>
  <b>User last login:</b>
  <%= @user.last_login %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
