<h1>Listing organisation_types</h1>

<table>
  <tr>
    <th>Org type name</th>
    <th>Org type desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organisation_types.each do |organisation_type| %>
  <tr>
    <td><%= organisation_type.org_type_name %></td>
    <td><%= organisation_type.org_type_desc %></td>
    <td><%= link_to 'Show', organisation_type %></td>
    <td><%= link_to 'Edit', edit_organisation_type_path(organisation_type) %></td>
    <td><%= link_to 'Destroy', organisation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organisation type', new_organisation_type_path %>
