<p id="notice"><%= notice %></p>

<p>
  <b>Org type name:</b>
  <%= @organisation_type.name %>
</p>

<p>
  <b>Org type desc:</b>
  <%= @organisation_type.description %>
</p>


<%= link_to 'Edit', edit_organisation_type_path(@organisation_type) %> |
<%= link_to 'Back', organisation_types_path %>
