<% javascript('export_configure') %>
<form method="get" action="<%= export_project_plan_path(plan.project, plan) -%>" target="_blank">
  <%= label_tag(:format, t('helpers.format')) %>
  <%= select_tag(:format, options_for_select(%i( pdf text html xml json ), :pdf)) %>
  <%= submit_tag(t('helpers.export'), class: 'btn btn-primary') %>
</form>

<div class="accordion" id="settings-accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#settings-accordion" href="#<%= plan.version.phase.id %>">
				Settings - <%= plan_settings_indicator(plan) -%> <span class="plus-laranja"> </span>
			</a>
		</div>
		<div id="<%= plan.version.phase.id %>" class="accordion-project collapse">
			<div class="accordion-inner">
				<%= render(partial: 'settings/plans/export_formatting_form', locals: { plan: plan }) %>
			</div>
		</div>
	</div>
</div>
