<% javascript('export_configure') %>
<ul class="export_list">
	<li><%= link_to "View as a web page", [:export, plan.project, plan], :target => "_blank" %> (Best for getting an overview of your plan)</li>
	<li><%= link_to "View as plain text", export_project_plan_path(plan.project, plan, :format => "text"), :target => "_blank" %> (Best for copying and pasting)</li>
	
	<li>View as PDF (Best for sharing e.g. by email): 
		<a id="export_configure" class="icon-cog btn-configure" href="<%= settings_plan_path(plan) -%>" title="<%= t('helpers.project.configure') -%>">
			<span class="hide-text"><%= t('helpers.project.configure') -%></span>
		</a>
		<%= plan_settings_indicator(plan) %>
		<ul class="export_sub_list">
			<li><%= link_to "With admin details", export_project_plan_path(plan.project, plan, :format => :pdf, :include_admin => 'true'), :target => "_blank" %> (Grant Number, Identifier, Principal Investigator, Project Description etc.)</li>
			<li><%= link_to "Without admin details", export_project_plan_path(plan.project, plan, :format => :pdf), :target => "_blank" %></li>
		</ul>
	</li>
</ul>
