<%= form_for(resource, :as => "user", :url => user_session_path) do |f| %>
<ul>
	<li>
		<%= devise_error_messages! %>
	</li>
	<li>
		<%= f.text_field :email, placeholder: t('helpers.user_name')  %>
	</li>
	<li>
		<%= f.password_field :password, placeholder: t('helpers.password') %>
	</li>
	<li>
		<%= link_to t('helpers.forgot_password'), new_password_path('user'), :class => "forgot_password" %>
	</li>
	<li class="remember_me_li">
		<%= f.check_box :remember_me %><%= f.label t('helpers.remember_me'), :class => "remember_div" %>
	</li>
	<li>
		<%= f.submit t('helpers.sign_in'), :class => "btn btn-primary" %>
	</li>
</ul>
<% end %>