<%= form_for(resource, :as => "user", :url => registration_path("user")) do |f| %>
  <ul>
	<li>
		<%= devise_error_messages! %>
	</li>
	<li>
		<%= f.email_field :email, placeholder: t('helpers.email') %>
	</li>
	<li>
		<%= f.label t('helpers.org_type.organisation'), :class => "sign_up_org_label" %>
		<%= collection_select(:user, :organisation_id, OrganisationType.find_by_name(t('helpers.org_type.institution')).organisations.order("name"), :id, :name, {}, { :class => 'typeahead org_sign_up' }) %>
	</li>
	<li>
		<%= f.password_field :password, placeholder: t('helpers.password') %>
	</li>
	<li>
		<%= f.password_field :password_confirmation, placeholder: t('helpers.password_conf') %>
	</li>
	<li>
		<%= f.submit t('helpers.sign_up'), :class => "btn btn-primary" %>
	</li>
</ul>
<% end %>