<%= form_for(@project_partner) do |f| %>
  <% if @project_partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_partner.errors.count, "error") %> prohibited this project_partner from being saved:</h2>

      <ul>
      <% @project_partner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :org_id %><br />
    <%= f.number_field :org_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :leader_org %><br />
    <%= f.check_box :leader_org %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
