<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question_theme.question_id %>
</p>

<p>
  <b>Theme:</b>
  <%= @question_theme.theme_id %>
</p>


<%= link_to 'Edit', edit_question_theme_path(@question_theme) %> |
<%= link_to 'Back', question_themes_path %>
