<h1>Sections list</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Order</th>
    <th>Version</th>
    <th>Organisation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.title %></td>
    <td><%= section.description %></td>
    <td><%= section.order %></td>
    <td><%= section.version_id %></td>
    <td><%= section.organisation_id %></td>   
    <%# <td><%= section.select :version_id, Version.all.collect {|v| [ v.title, v.id ] } %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_section_path %>
