<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @section.title %>
</p>

<p>
  <b>Description:</b>
  <%= @section.description %>
</p>

<p>
  <b>number:</b>
  <%= @section.number %>
</p>

<p>
  <b>Version:</b>
  <%= @section.version_id %>
</p>

<p>
  <b>Organisation id:</b>
  <%= @section.organisation_id %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
