<%= form_for @answer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :plan_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :plan_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :question_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :question_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                answers_path, :class => 'btn' %>
  </div>
<% end %>
