<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body_text %><br />
    <%= f.text_area :body_text %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :menu %><br />
    <%= f.number_field :menu %>
  </div>
  <div class="field">
    <%= f.label :menu_position %><br />
    <%= f.number_field :menu_position %>
  </div>
  <div class="field">
    <%= f.label :target_url %><br />
    <%= f.text_field :target_url %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :organisation_id %><br />
    <%= f.number_field :organisation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
