<p id="notice"><%= notice %></p>

<p>
  <b>Pag title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Pag body text:</b>
  <%= @page.body_text %>
</p>

<p>
  <b>Pag slug:</b>
  <%= @page.slug %>
</p>

<p>
  <b>Pag menu:</b>
  <%= @page.menu %>
</p>

<p>
  <b>Pag menu position:</b>
  <%= @page.menu_position %>
</p>

<p>
  <b>Pag target url:</b>
  <%= @page.target_url %>
</p>

<p>
  <b>Pag location:</b>
  <%= @page.location %>
</p>

<p>
  <b>Pag public:</b>
  <%= @page.public %>
</p>

<p>
  <b>Org:</b>
  <%= @page.organisation_id %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
