<!-- Create a new project (3 dropdowns = 6 options) -->
<%= semantic_form_for @project, :url => {:controller => :projects, :action => :create }, :html=>{:method=>:post} do |f| %>
<%= f.inputs do %>
<div class="createa-project">
    <h3> <%= t('helpers.project.create_page.title')%> </h3>
    <div class="info-new-project">
        <p>
            <%= t('helpers.project.create_page.desc')%>
        </p>
    </div>
    <div class="dropdowns">
        <!-- dropdown 1 = funders -->
        <div class="control-group">
            <div class="controls">
                <% org_type_funder = OrganisationType.find_by_name(t('helpers.org_type.funders')).organisations %>
                <%= f.input :organisation, :as => :select, :collection => org_type_funder, :label => t('helpers.org_type.funders'), :input_html => { :multiple => false, :id => t('helpers.org_type.funders') } %>
                <% org_template = Dmptemplate.templates_org_type(t('helpers.org_type.funders') ) %>
                <% if org_template.length > 1  then %>
                <div id="has_more_templates">
                    <%= f.input :dmptemplate, :as => :select, :collection => org_template, :label => t('helpers.org_type.templates'), :input_html => { :multiple => false } %>
                </div>
                <% end %>
            </div>
        </div>

        <!-- dropdown 2 = institution -->
        <div class="control-group">
            <div class="controls">
                <% org_type_inst = OrganisationType.find_by_name(t('helpers.org_type.institution')).organisations %>
                <%= f.input :organisation, :as => :select, :collection => org_type_inst, :label => t('helpers.org_type.institution'), :input_html => { :multiple => false, :id => 'parent_id' } %>
                <!-- verify if org has children-->
                <% children_info = Organisation.orgs_with_parent_of_type(t('helpers.org_type.institution')) %>
                <% if children_info.any? %>
                <div class="has_children">
                    <%= f.input :unit_id, :as => :select, :collection => children_info, :label => t('helpers.org_type.child'), :input_html => { :multiple => false } %>
                </div >
                <% end %>
            </div>
        </div>

        <!-- dropdown 3 = other guidance
        <div class="control-group">
        <div class="controls">
        <% #org_type_other = Organisation.other_organisations %>
        <% # = f.input :organisation_name, :as => :check_boxes, :collection => org_type_other, :label => t('helpers.org_type.other_guidance'), :input_html => { :multiple => false } %>
        </div>
        </div> -->

    </div>
</div>
<% end %>
<!-- submit buttons -->
<%= f.actions do %>
<%= f.action :submit, :label => t('helpers.project.create')%>

<% end %>
<% end %> 