<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :note, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :locked, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :locked, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dmptemplate_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :dmptemplate_id, :class => 'number_field' %>
    </div>
  </div>
 

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
