<!-- Project title = default title is the template title plus date of creation -->
<div class="project-tabs-body">
	<div class="accordion" id="accordion1">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-template"><%= t('helpers.org_type.template') %>
    				<!-- + or - icon-->
                    <span class="icon-plus icon-white accordion-icon"> </span>
    			</a>
    		</div>
			<div id="collapse-template" class="accordion-body collapse">
				<div class="accordion-inner">	
					<% if @project.editable_by(current_user.id) then %>
						<p><%= link_to t('.edit', :default => t("helpers.project.edit")), edit_project_path(@project) %></p>
					<% end %>
				   <div class="project-details">
						<!-- template description -->
						<p>
							<%= @project.dmptemplate.description %>
						</p>
					</div>
				</div>
			</div>
			<!-- If project has plans-->
			<% if @project.plans.any? %>
				<% @project.plans.each do |plan| %>
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-<%= plan.version.phase.title %>"><%= plan.version.phase.title %>
		    				<!-- + or - icon-->
		                    <span class="icon-plus icon-white accordion-icon"> </span>
		    			</a>
		    		</div>
					<div id="collapse-<%= plan.version.phase.title %>" class="accordion-body collapse">
						<div class="accordion-inner">	
							<div class="plans-details">
								<div class='project_details_plan'>
									<h3> <%= plan.version.phase.title %> </h3>
									<hr class="new-line-tabs">
									<% if !plan.sections.nil? %>
										<% plan.sections.each do |section| %>
										<dl class="dl-horizontal">
											<dt></dt>
											<dd>
												<%= section.title %>
											</dd>
										</dl>
										<% end %>
									<% end %>
								</div>
							</div>
						</div>	
					</div>
				<% end %>
			<% end %>
		</div>	
	</div>
</div>	