<!-- Project title = default title is the template title plus date of creation -->
	<div class="project-details">
	    <div id="project-details">
            <h3 id="project-title">
                <%= @project.title %>
            </h3>
             <!-- to be displayed only if user is project creator -->
                <div class='link-inline'>
                    <%= link_to t('.edit', :default => t("helpers.project.edit")),edit_project_path(@project) %>
                </div>    
        </div> 
        <hr>
         <!-- template description -->   
		<dl class="dl-horizontal">
    		<dt></dt>
            <dd><%= @project.dmptemplate.description %></dd>
    	</dl>
	</div>	
		
	<!-- If project has plans-->
	<div class="plans-details">
		<% if @project.plans.any? %>
			<% @project.plans.each do |plan| %>
				<div class='project_details_plan'>
					<h4>
						<%= plan.version.phase.title %>
					</h4>
					<hr>
					<% if !plan.version.sections.nil? %>
                        <% plan.version.sections.each do |section| %>
                            <dl class="dl-horizontal">
                                <dt></dt>
                                <dd><%= section.title %></dd>
                        	</dl>
                        <% end %>	
					<% end %>	
				</div>
			<% end %>
		<% end %>
	</div>