<!-- Project title = default title is the template title plus date of creation -->
	<h2>
		<%= @project.title %>
	</h2>
	<!-- to be displayed only if user is project creator -->
	<div class="style_link_button">
		<%= link_to t('helpers.edit.project'), edit_project_path(@project) %>
	</div>
	<!-- template description -->
	<p>
		<%= @project.dmptemplate.description %>
	</p>
	<!-- If project has phases-->
	<% if @project.dmptemplate.phases.any? %>
		<% @project.dmptemplate.phases.each do |phase| %>
			<div class='project_details_phase'>
				<h3>
					<%= phase.title %>
				</h3>
				
				<% if phase.versions.any? %>
					<ul>
					<% version = phase.versions.where(:published => '1').order("created_at DESC").first %>
					<% version.sections.each do |section| %>
						<li>
							<%= section.title %>
						</li>
					<% end %>	
					</ul>
				<% end %>		
			</div>
		<%end%>
	<% end %>
