<!-- Project title = default title is the template title plus date of creation -->
	<div class="project-details">
		<dl class="dl-horizontal">
    		<h3><%= @project.title %></h3>
                <!-- to be displayed only if user is project creator -->
                <div class="form-actions">
                    <%= link_to t('.edit', :default => t("helpers.edit.project")),edit_project_path(@project), :class => 'btn' %>
                </div>
            <!-- template description -->
    		<dt></dt>
            <dd><%= @project.dmptemplate.description %></dd>
    	</dl>
	</div>	
		
	<!-- If project has plans-->
	<div class="plans-details">
		<% if @project.plans.any? %>
			<% @project.plans.each do |plan| %>
				<div class='project_details_plan'>
					<h3>
						<%= plan.version.phase.title %>
					</h3>
					<dl class="dl-horizontal">
                        <% if !plan.version.sections.nil? %>
                            <% plan.version.sections.each do |section| %>
                                <dt></dt>
                                <dd><%= section.title %></dd>
                        	<% end %>	
						<% end %>	
					</dl>
				</div>
			<% end %>
		<% end %>
	</div>