<!-- Project title = default title is the template title plus date of creation -->
	<div class="project-details">
		<dl class="dl-horizontal">
    		<dt><h3><%= @project.title %></h3>
                <!-- to be displayed only if user is project creator -->
               <div class='link-inline'>
                    <%= link_to t('.edit', :default => t("helpers.project.edit")),edit_project_path(@project) %>
               </div>
            </dt>
            <dd></dd>
            <!-- template description -->
    		<dt></dt>
            <dd><%= @project.dmptemplate.description %></dd>
    	</dl>
	</div>	
		
	<!-- If project has plans-->
	<div class="plans-details">
		<% if @project.plans.any? %>
			<% @project.plans.each do |plan| %>
				<div class='project_details_plan'>
					<h4>
						<%= plan.version.phase.title %>
					</h4>
					<dl class="dl-horizontal">
                        <% if !plan.version.sections.nil? %>
                            <% plan.version.sections.each do |section| %>
                                <dt></dt>
                                <dd><%= section.title %></dd>
                        	<% end %>	
						<% end %>	
					</dl>
				</div>
			<% end %>
		<% end %>
	</div>