<%- model_class = Project -%>
<h1>
	<%= t('helpers.project.projects_title') %>
</h1>

<!-- if the user has projects -->
<% if @projects.any? %>

	<p>
		<%= raw t('helpers.project.project_text_when_project')%>
	</p>
	<table id="dmp_table" class="dmp_table tablesorter">
	  <thead>
	    <tr>
	      	<th class="dmp_th_big"><%= t('helpers.name') %></th>
	      	<th class="dmp_th_medium"><%= t('helpers.owner') %></th>
	      	<th class="dmp_th_small"><%= t('helpers.project.share.shared_label') %></th>
			<th class="dmp_th_small"><%= t('helpers.last_edit') %></th>
			<td class="dmp_th_medium"><%= t('helpers.select_action')%></td>
	      
	    </tr>
	  </thead>
	  <tbody>
	    <% @projects.each do |project| %>
	      <tr>
	        <td class="dmp_td_big">
	        	<%= link_to project.title, project_path(project), :class => "dmp_table_link"%>
	        </td>
	        <td class="dmp_td_medium">
	        	<% if !project.project_groups.find_by_project_creator(true).nil? then%>
	        		<% user = project.project_groups.find_by_project_creator(true).user %>
	        	
		        	<% if user == current_user then %>
		        		<%= t('helpers.me')%>
		        	<% else%>
		        		<%= user.name %>
		        	<% end%>
			     <%end%>   	
	        </td>
	        <td class="dmp_td_small">
	        	<% shared_num = project.project_groups.count - 1 %>
	        	<% if shared_num > 0 then%>
	        		<%= t('helpers.yes') +" (with #{shared_num } people)" %>
	        	<%else%>
	        		<%= t('helpers.no')%>
	        	<%end%>		
	        </td>	
	        <td class="dmp_td_small">
	        	<%= l project.latest_update.to_date, :formats => :short %>
	        </td>
	        <td class="dmp_td_medium">
	        	<% if project.editable_by(current_user.id) then %>
					<%= link_to t('.edit', :default => t("helpers.links.edit")), project_path(project), :class => "dmp_table_link"%>
					<% if project.administerable_by(current_user.id) then %>
						<%= link_to t("helpers.project.share.tab_share"), project_path([project, "share"]), :class => "dmp_table_link"%>
					<%end%>
					<%= link_to t("helpers.project.tab_export"), project_path([project, "export"]), :class => "dmp_table_link"%>
					<% if project.administerable_by(current_user.id) then %>
						<%= link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(project), :class => "dmp_table_link" , 
							:method => :delete, :data => { 
								:confirm => t("helpers.project.confirm_delete_text")
							}%>
					<%end%>		
				<%else%>
					<%= link_to t('.view', :default => t("helpers.view")), project_path(project), :class => "dmp_table_link"%>
					<%= link_to t("helpers.project.tab_export"), project_path([project, "export"]), :class => "dmp_table_link"%>
	          	<% end %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<% if current_user.dmponline3 then %>
		<p>You can view or edit earlier plans by visiting <%= link_to("the previous version of DMPonline", "http://dmponline3.dcc.ac.uk") %>.</p>
	<% end %>
<!-- if the user does not have projects -->	
<% else %>
	<p>
		<%= raw t('helpers.project.project_text_when_no_project')%>
	</p>

<%end%>

<!-- link button to create a new project -->
<p>
	<%= link_to t('.new', :default => t("helpers.project.create")),
            new_project_path,
            :class => 'btn btn-primary' %>
</p>
