<%- model_class = Project -%>
<h1>
	<%= t('helpers.project.projects_title') %>
</h1>

<!-- if the user has projects -->
<% if @projects.any? %>

	<p>
		<%= t('helpers.project.project_text_when_project')%>
	</p>
	<table class="dmp_table">
	  <thead>
	    <tr>
	      	<th class="dmp_th_big"><%= t('helpers.name') %></th>
	      	<th class="dmp_th_medium"><%= t('helpers.owner') %></th>
			<th class="dmp_th_small"><%= t('helpers.last_edit') %></th>
			<th class="dmp_th_medium"><%= t('helpers.select_action')%></th>
	      
	    </tr>
	  </thead>
	  <tbody>
	    <% @projects.each do |project| %>
	      <tr>
	        <td class="dmp_td_big">
	        	<%= link_to project.title, project_path(project), :class => "dmp_table_link"%>
	        </td>
	        <td class="dmp_td_medium">
	        	<% user = project.project_groups.find_by_project_creator(true).user %>
	        	<% if user == current_user then %>
	        		<%= t('helpers.me')%>
	        	<% else%>
	        		<%= user.name %>
	        	<% end%>
	        </td>
	        <td class="dmp_td_small">
	        	<%= l project.latest_update.to_date, :formats => :short %>
	        </td>
	        <td class="dmp_td_medium">
	        	<% if project.editable_by(current_user.id) then %>
					<%= link_to t('.edit', :default => t("helpers.links.edit")), project_path(project), :class => "dmp_table_link"%>
					<% if project.administerable_by(current_user.id) then %>
						<%= link_to t("helpers.project.share.tab_share"), project_path([project, "share"]), :class => "dmp_table_link"%>
					<%end%>
					<%= link_to t("helpers.project.tab_export"), project_path([project, "export"]), :class => "dmp_table_link"%>
					<% if project.administerable_by(current_user.id) then %>
						<%= link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(project), :class => "dmp_table_link" , 
							:method => :delete, :data => { 
								:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))
							}%>
					<%end%>		
				<%else%>
					<%= link_to t('.view', :default => t("helpers.view")), project_path(project), :class => "dmp_table_link"%>
					<%= link_to t("helpers.project.tab_export"), project_path([project, "export"]), :class => "dmp_table_link"%>
	          	<% end %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<!-- if the user does not have projects -->	
<% else %>
	<p>
		<%= raw t('helpers.project.project_text_when_no_project')%>
	</p>

<%end%>

<!-- link button to create a new project -->
<p>
	<%= link_to t('.new', :default => t("helpers.project.create")),
            new_project_path,
            :class => 'btn btn-primary' %>
</p>
