<%- model_class = Project -%>
<% javascript 'projects.js' %>
<div class="new-project-container">
    <!-- top paragraph -->
    <div class="new-project-description">

    </div>

    <!-- render dropdowns for plan selection -->
    <%= render 'dropdowns_new_project' %>

</div>
<div id='project-confirmation-dialog' data-container="body" class='modal hide fade'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= t('helpers.project.confirmation_text')%></h3>
		<p><%= raw t('helpers.project.confirmation_text_desc')%></p>
	</div>
	<div class="modal-body">
		<div><p><%= t('helpers.org_type.funder')%>: <span id="confirm-funder"><%= t('helpers.none')%></span></p></div>
		<div style="display:none"><p><%= t('helpers.org_type.template')%> <span id="confirm-template"></span></p></div>
		<div><p><%= t('helpers.org_type.institution')%>: <span id="confirm-institution"><%= t('helpers.none')%></span></p></div>
		<div  style="display:none"><p><%= t('helpers.org_type.child')%> <span id="confirm-unit"></span></p></div>
		<div><p><%= t('helpers.org_type.other_guidance')%>: <ul id="confirm-guidance"></ul></p></div>
	</div>
	<div class="modal-footer">
    <a href="#" id="new-project-cancelled" class="btn"><%= t('helpers.submit.cancel')%></a>
    <a href="#" id="new-project-confirmed" class="btn btn-primary"><%= t('helpers.project.confirmation_button_text')%></a>
  </div>
</div>