

<div class= "main-body">
	
	<p id="notice"><%= notice %></p>
	<!-- project navigation -->
	<div id="project-tabs">
		<ul>
			<!-- Project details (views/projects/_project_details.html.erb)-->
			<li id="project-tab-active">
				<%= link_to (@project) do %>
					<%= @project.title %>
				<% end %>
			</li>
			<!-- Plans (phases)-->
			<% @project.plans.each do |plan| %>
				<li class="">
					<%= link_to (plan) do %>
						<%= plan.version.phase.title %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<!-- Main content to show project details-->
	<div class="main-content">
		<%= render "project_details" %>
	</div>		
</div>	
