<%= form_for(@project_group) do |f| %>
  <% if @project_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_group.errors.count, "error") %> prohibited this project_group from being saved:</h2>

      <ul>
      <% @project_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_creator %><br />
    <%= f.check_box :project_creator %>
  </div>
  <div class="field">
    <%= f.label :project_editor %><br />
    <%= f.check_box :project_editor %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
