<p id="notice"><%= notice %></p>

<p>
  <b>Project creator:</b>
  <%= @project_group.project_creator %>
</p>

<p>
  <b>Project editor:</b>
  <%= @project_group.project_editor %>
</p>

<p>
  <b>User:</b>
  <%= @project_group.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @project_group.project_id %>
</p>


<%= link_to 'Edit', edit_project_group_path(@project_group) %> |
<%= link_to 'Back', project_groups_path %>
