<h1>Listing versions</h1>

<table>
  <tr>
    <th>Title | </th>
    <th>Description | </th>
    <th>Published | </th>
    <th>Order | </th>
    <th>Phase</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @versions.each do |version| %>
  <tr>
    <td><%= version.title %></td>
    <td><%= version.description %></td>
    <td><%= version.published %></td>
    <td><%= version.order %></td>
    <td><%= version.phase %></td>
    <td><%= link_to 'Show', version %></td>
    <td><%= link_to 'Edit', edit_version_path(version) %></td>
    <td><%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Version', new_version_path %>
