<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @version.title %>
</p>

<p>
  <b>Description:</b>
  <%= @version.description %>
</p>

<p>
  <b>Published:</b>
  <%= @version.published %>
</p>

<p>
  <b>Order:</b>
  <%= @version.order %>
</p>

<p>
  <b>Phase:</b>
  <%= @version.phase %>
</p>

<p>
	<b>Sections:</b>
	<ul>
	<% @version.sections.each do |section| %>
		<li><%= section %></li>
	<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
