<h1>Listing user_types</h1>

<table>
  <tr>
    <th>User type name</th>
    <th>User type desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_types.each do |user_type| %>
  <tr>
    <td><%= user_type.name %></td>
    <td><%= user_type.description %></td>
    <td><%= link_to 'Show', user_type %></td>
    <td><%= link_to 'Edit', edit_user_type_path(user_type) %></td>
    <td><%= link_to 'Destroy', user_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User type', new_user_type_path %>
