<% answer = @plan.answer(question.id) %>

<div class="question-div">
	<% if readonly != 'always' then %>
	<div id="question-form-<%= question.id %>" class="question-form" <%= if readonly == "conditional" then "style='display:none;'" end %>>
		<%= semantic_form_for answer, :url => {:controller => :answers, :action => :create }, :html=>{:method=>:post}, :remote => true do |f| %>
			<%= f.inputs do %>
				<%= f.input :plan_id, :as => :hidden %>
				<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
				<%= f.input :question_id, :as => :hidden, :input_html => { :class => 'question_id' } %>
				<% if question.multiple_choice then %>
					<% options = question.options.order("number") %>
					<% if question.multiple_permitted then %>
						<% if question.is_expanded then %>
							<% if readonly then %>
								<%= f.input :options, :as => :check_boxes, :collection => options, :label => question.text, :input_html => { :disabled => true, :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :check_boxes, :collection => options, :label => question.text, :input_html => { :id => "options-#{question.id}" } %>
							<% end %>
						<% else %>
							<% if readonly then %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => true, :disabled => true , :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => true , :id => "options-#{question.id}" } %>
							<% end %>
						<% end %>
					<% else %>
						<% if question.is_expanded then %>
							<% if readonly then %>
								<%= f.input :options, :as => :radio, :collection => options, :label => question.text, :input_html => { :disabled => true , :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :radio, :collection => options, :label => question.text, :input_html => { :id => "options-#{question.id}" }%>
							<% end %>
						<% else %>
							<% if readonly then %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => false, :disabled => true, :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => false, :id => "options-#{question.id}" } %>
							<% end %>
						<% end %>
					<% end %>
					<div id="option-warning-<%= question.id %>" class="alert" style="display:none">
						<% question.options.order("number").each do |option| %>
							<% warning = @plan.warning(option.id) %>
							<% unless warning.nil? then %>
								<p id="<%= option.id %>-warning" data-option='<%= option.id %>'><%= warning %></p>
							<% end %>
						<% end %>
					</div>
					<%= label_tag("answer-text-#{question.id}".to_sym, "Comment") %>
				<% else %>
					<%= label_tag("answer-text-#{question.id}".to_sym, question.text) %>
				<% end %>
				<%= text_area_tag("answer-text-#{question.id}".to_sym, answer.text, class: "tinymce") %>
			<% end %>
			<%= f.actions do %>
				<% if readonly then %>
					<%= f.action :submit, :label => t('helpers.save'), :button_html => { :class => 'btn btn-primary'}, :input_html => { :disabled => true } %>
				<% else %>
					<%= f.action :submit, :label => t('helpers.save'), :button_html => { :class => 'btn btn-primary'} %>
				<% end %>
					<li id='saving-<%= question.id %>' style='display:none;'><%= t('helpers.saving')%></li> 
			<% end %> 
		<% end %>
		</div>
	<% end %>
	<div id="question-readonly-<%= question.id %>" class="question-readonly" <%= if readonly == nil then "style='display:none;'" end %>>
		<h4><%= question.text %></h4>
		<div class="answer-readonly">
			<% if question.multiple_choice %>
				<ul class='options'>
				<% if answer.options.is_a? Option then %>
					<li><%= answer.options.text %></li>
				<% else %>
					<% answer.options.each do |o| %>
						<li><%= o.text %></li>
					<% end %>
				<% end %>
				</ul>
			<% end %>
			<div class='answer-text-readonly'>
				<%= raw answer.text %>
			</div>
		</div>
	</div>
	<% if answer.created_at.nil? then %>
		<span id='<%= question.id %>-status' class="label label-warning answer-status"><%= t('helpers.notanswered') %></span>
	<% else %>
		<span id='<%= question.id %>-status' class="label label-info answer-status"><%= t('helpers.answered_by')%><abbr class="timeago" data-time="<%= answer.created_at.iso8601 %>" title="<%= answer.created_at.iso8601 %>"><%= answer.created_at %></abbr><%= t('helpers.answered_by_part2')%><%= answer.user.name %></span>
	<% end %>
</div>
<div class="question-guidance accordion" id="<%= question.id %>-guidance">
	<% if !question.guidance.nil? && question.guidance != "" then %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle guidance-accordion-toggle" data-toggle="collapse" data-parent="#<%= question.id %>-guidance" href="#collapse-default-guidance-<%= question.id%>">
					<div class="accordion_heading_text">
					<%= question.section.organisation.abbreviation %> <%= t('helpers.guidance')%> 
					</div>
					<span class="plus-laranja accordion-icon"> </span></a>
			</div>
			<div id="collapse-default-guidance-<%= question.id%>" class="accordion-guidance-body collapse">
				<div class="accordion-inner"><%= raw question.guidance %></div>
			</div>
		</div>
	<% end %>
	<% @plan.guidance_for_question(question).each_pair do |title,guidance| %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle guidance-accordion-toggle" data-toggle="collapse" data-parent="#<%= question.id %>-guidance" href="#collapse-guidance-<%= guidance.id%>">
					<div class="accordion_heading_text">
					<%= title%> 
					</div>
					<span class="plus-laranja accordion-icon"> </span></a>
			</div>
			<div id="collapse-guidance-<%= guidance.id%>" class="accordion-guidance-body collapse">
				<div class="accordion-inner"><%= raw guidance.text %></div>
			</div>
		</div>
	<% end %>
</div>
<% if last_question_id == question.id then %>
	<div class="two-column-clear"></div>
<% else %>
	<div class="two-column-clear question-divider"></div>
<% end %>