<% answer = @plan.answer(question.id) %>

<div class="question-div">
	<% if readonly != 'always' then %>
	<div id="question-form-<%= question.id %>" class="question-form" <%= if readonly == "conditional" then "style='display:none;'" end %>>
		<%= semantic_form_for answer, :url => {:controller => :answers, :action => :create }, :html=>{:method=>:post}, :remote => true do |f| %>
			<%= f.inputs do %>
				<%= f.input :plan_id, :as => :hidden %>
				<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
				<%= f.input :question_id, :as => :hidden, :input_html => { :class => 'question_id' } %>
				<% if question.multiple_choice then %>
					<% options = question.options.map %>
					<% if question.multiple_permitted then %>
						<% if question.is_expanded then %>
							<% if readonly then %>
								<%= f.input :options, :as => :check_boxes, :collection => options, :label => question.text, :input_html => { :disabled => true, :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :check_boxes, :collection => options, :label => question.text, :input_html => { :id => "options-#{question.id}" } %>
							<% end %>
						<% else %>
							<% if readonly then %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => true, :disabled => true , :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => true , :id => "options-#{question.id}" } %>
							<% end %>
						<% end %>
					<% else %>
						<% if question.is_expanded then %>
							<% if readonly then %>
								<%= f.input :options, :as => :radio, :collection => options, :label => question.text, :input_html => { :disabled => true , :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :radio, :collection => options, :label => question.text, :input_html => { :id => "options-#{question.id}" }%>
							<% end %>
						<% else %>
							<% if readonly then %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => false, :disabled => true, :id => "options-#{question.id}" } %>
							<% else %>
								<%= f.input :options, :as => :select, :collection => options, :label => question.text, :input_html => { :multiple => false, :id => "options-#{question.id}" } %>
							<% end %>
						<% end %>
					<% end %>
					<%= label_tag("answer-text-#{question.id}".to_sym, "Comment") %>
				<% else %>
					<%= label_tag("answer-text-#{question.id}".to_sym, question.text) %>
				<% end %>
				<%= text_area_tag("answer-text-#{question.id}".to_sym, answer.text, class: "tinymce") %>
			<% end %>
			<%= f.actions do %>
				<% if readonly then %>
					<%= f.action :submit, :label => t('helpers.save'), :input_html => { :disabled => true } %>
				<% else %>
					<%= f.action :submit, :label => t('helpers.save')%>
				<% end %> 
			<% end %> 
		<% end %>
		</div>
	<% end %>
	<div id="question-readonly-<%= question.id %>" class="question-readonly" <%= if readonly == nil then "style='display:none;'" end %>>
		<h4><%= question.text %></h4>
		<div class="answer-readonly">
			<% if question.multiple_choice %>
				<ul class='options'>
				<% answer.options.each do |o| %>
					<li><%= o.text %></li>
				<% end %>
				</ul>
			<% end %>
			<div class='answer-text-readonly'>
				<%= raw answer.text %>
			</div>
		</div>
	</div>
	<% if answer.created_at.nil? then %>
		<span id='<%= question.id %>-status' class="label label-warning answer-status"><%= t('helpers.notanswered') %></span>
	<% else %>
		<span id='<%= question.id %>-status' class="label label-info answer-status">Answered <abbr class="timeago" data-time="<%= answer.created_at.iso8601 %>" title="<%= answer.created_at.iso8601 %>"><%= answer.created_at %></abbr> by <%= answer.user.name %></span>
	<% end %>
</div>
<div class="question-guidance">
	<% @plan.guidance_for_question(question).each do |guidance| %>
		<div><%= raw guidance %></div>
	<% end %>
</div>
<div class="two-column-clear"></div>