<%- model_class = Plan -%>
<% javascript 'plans.js' %>
<!-- render the project title -->
<%= render :partial => "/projects/project_title", locals: {project: @plan.project} %>


<!-- progress bar -->
<% status = @plan.status %>
<div class="progress">
    <% if status["num_answers"] == 0  then %>
        <div id="questions-progress" class="bar" style="width: <%= number_to_percentage(status["num_answers"].to_f/status["num_questions"].to_f*100) %>;"></div>
        <span class="color-text"><%= t('helpers.noquestionanswered')%></span>
    <% else %>
        <div id="questions-progress" class="bar" style="width: <%= number_to_percentage(status["num_answers"].to_f/status["num_questions"].to_f*100) %>;"><%= status["num_answers"] %>/<%= status["num_questions"] %></div>
    <% end%>
</div>

<% readonly = nil %>
<% if ! @plan.can_edit(current_user.id) then %>
	<% readonly = 'always' %>
<% end %>

<!-- render the project tabs in -->
<%= render :partial => "/projects/project_nav_tabs", locals: {project: @plan.project, active: @plan.id} %>


<!-- plan main container -->
<div class="project-tabs-body">
    <div class="accordion" id="sections-accordion">
    	<% sections = @plan.sections.order("number") %>
    	<% sections.each do |section| %>
    		<% locked = @plan.locked(section.id, current_user.id) %>
				<% if readonly == nil && locked['locked'] && locked['current_user'] != true then %>
					<% readonly = 'conditional' %>
				<% end %>
    		<div class="accordion-group">
    			<% num_section_questions = @plan.status["sections"][section.id]["num_questions"] %>
    			<% num_section_answers = @plan.status["sections"][section.id]["num_answers"] %>
    			<% question_word = "questions" %>
    			<% if num_section_questions == 1 then %>
    				<% question_word = "question" %>
    			<% end %>
    			<% section_status = "#{num_section_questions} #{question_word}, #{num_section_answers} answered" %>
    			<div class="accordion-heading">
    				<a class="accordion-toggle" data-toggle="collapse" data-parent="#sections-accordion" href="#collapse-<%= section.id%>"><%= section.title %>
    				<% if num_section_questions > num_section_answers then %>
    					<span id='<%= section.id %>-status' class="label label-warning section-status">(<%= section_status %>)</span>
    				<% else %>
    					<span id='<%= section.id %>-status' class="label label-info section-status">(<%= section_status %>)</span>
    				<% end %>
    				<!-- + or - icon-->
                    <span class="icon-plus icon-white accordion-icon"> </span>
    				</a>
    			</div>
    			<div id="collapse-<%= section.id%>" class="accordion-body collapse">
    				<div class="accordion-inner">
							<div class="loading">
								<p>Loading...</p>
							</div>
							<div class="loaded">
								<% section.questions.order("number").each do |question| %>
									<%= render partial: "answer_form", locals: {question: question, readonly: readonly} %>
								<% end %>
							</div>
    				</div>
    			</div>
    		</div>
    	<% end %>
    </div>
    <%= tinymce %>
</div>    