<h1>New plan</h1>

<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= semantic_form_for @plan do |f| %>
    <%= f.inputs :version %>
    <%= f.actions %>
  <% end %>
<% end %>

<%= link_to 'Back', plans_path %>
