<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @phase.title %>
</p>

<p>
  <b>Description:</b>
  <%= @phase.description %>
</p>

<p>
  <b>Order:</b>
  <%= @phase.order %>
</p>

<p>
  <b>Dmptemplate:</b>
  <%= @phase.dmptemplate %>
</p>

<p>
	<b>Versions:</b>
	<ul>
	<% @phase.versions.each do |version| %>
		<li><%= version %></li>
	<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
