<!-- header information -->

<header>
	<div class='header_left'>
		<div class="home_logo">
		 	<% if user_signed_in? %>
				<%= link_to( image_tag('logo.jpg'), root_path)%>
			<% else %>
				<%= link_to( image_tag('logo.jpg'), projects_path )%>
			<% end %>	
		</div>
	</div>
	<div class="header_right">	
		<div class="signIn">
			<ul>
				<% if user_signed_in? %>
	            	<li class="dropdown sign_in">
	                	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('helpers.logged_in')%>
	                	  	<%= current_user.name %> <b class="caret"></b>
	                	</a>
						<ul class="dropdown-menu" id="signIn_dropdown">
							<li ><%= link_to t('helpers.edit_profile'), edit_user_registration_path %></li>
							<li><%= link_to t('helpers.sign_out'), destroy_user_session_path, method: :delete %></li>
						</ul>
	            	</li>
	            <% else %>
	            	<li>
						<a href="#header-login-form" data-toggle="modal"><%= t('helpers.sign_in')%></a> / 
						<a href="#header-register-form" data-toggle="modal"><%= t('helpers.register')%></a>
					</li>
				<% end %> 
			</ul>
		</div>	
		<!-- main menu -->
		<div class="main_nav">
			<ul class="nav nav-pills">
                <% if user_signed_in? %>
	           		<li class="orange">
	                    <%= link_to 'View plans', projects_path %>
	                </li>    
	                <li class="orange">
	                	<%= link_to 'Create plan', 'projects/new' %>
	                </li>
		                 
                <% else %>
                	<li class="dropdown orange">
                    	<%= link_to t('helpers.home'), root_path %>
                	</li>
                <% end %>
           		<li class="grey">
					<%= link_to t('helpers.about_us_label'), '/about_us'%>
				</li>
				<li class="grey">
					<%= link_to t('helpers.news_label'), '#'%>
				</li>
				<li class="grey">
                    <%= link_to t('helpers.help_label'), '#'%>
            	</li>
	      	</ul>
         	          		
    	</div>	
	</div>
</header>    