<!-- header information -->

<header>
	<div class='header_left'>
		<div class="home_logo">
			<%= link_to( image_tag('logo.jpg'), root_path)%>
			
		</div>
	</div>
	<div class="header_right">	
		<div class="signIn">
			<ul>
				<% if user_signed_in? %>
	            	<li class="dropdown sign_in">
	                	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('helpers.logged_in')%><strong>
	                	  	<%= current_user.name %></strong><b class="caret"></b>
	                	</a>
						<ul class="dropdown-menu">
							<li><%= link_to t('helpers.edit_profile'), edit_user_registration_path %></li>
							<li><%= link_to t('helpers.sign_out'), destroy_user_session_path, method: :delete %></li>
						</ul>
	            	</li>
	            <% else %>
	            	<li>
						<a href="#header-login-form" data-toggle="modal"><%= t('helpers.sign_in')%></a> / 
						<a href="#header-register-form" data-toggle="modal"><%= t('helpers.register')%></a>
					</li>
				<% end %> 
			</ul>
		</div>	
		<!-- main menu -->
		<div class="main_nav">
			<ul class="nav nav-pills">
                <li class="dropdown orange">
                    <%= link_to t('helpers.home'), root_path %>
                </li>
           		<li class="dropdown orange">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/projects">
                    	<%= t('helpers.my_plans_label')%><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'Create plan', 'projects/new' %></li>
	                    <li><%= link_to 'View plans', projects_path %></li>
                    </ul>
                </li>
           		<li class="grey">
					<%= link_to t('helpers.about_us_label'), '/about_us'%>
				</li>
				<li class="grey">
					<%= link_to t('helpers.news_label'), '#'%>
				</li>
				<li class="grey">
                    <%= link_to t('helpers.help_label'), '#'%>
            	</li>
	      	</ul>
         	          		
    	</div>	
	</div>
</header>    