
<!-- header information -->
<div class='masthead'>
	<div class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
      	     <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                   <ul class="nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Template <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to 'Templates', dmptemplates_path %></li>
                                <li><%= link_to 'Phases', phases_path %></li>
                                <li><%= link_to 'Versions', versions_path %></li>
                                <li><%= link_to 'Sections', sections_path %></li>
                                <li><%= link_to 'Questions', questions_path %></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Guidance &amp; Themes <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to 'Guidances', guidances_path %></li>
                                <li><%= link_to 'Themes', themes_path %></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects &amp; Plans <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to 'Projects', projects_path %></li>
                                <li><%= link_to 'Project partners', project_partners_path %></li>
                                <li><%= link_to 'Project groups', project_groups_path %></li>
                                <li><%= link_to 'Plans', plans_path %></li>
                                <li><%= link_to 'Answers', answers_path %></li>
                            </ul>
                        </li>
                       	<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users &amp; Organisations <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to 'Users', users_path %></li>
                                <li><%= link_to 'User statuses', user_statuses_path %></li>
                                <li><%= link_to 'User types', user_types_path %></li>
                                <li><%= link_to 'User role types', user_role_types_path %></li>
                                <li><%= link_to 'User org roles', user_org_roles_path %></li>
                                <li><%= link_to 'Organisations', organisations_path %></li>
                                <li><%= link_to 'Organisation types', organisation_types_path %></li>
                            </ul>
                       </li>
                       	<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Guidance &amp; Themes <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to 'Pages', pages_path %></li>
                                <li><%= link_to 'File types', file_types_path %></li>
                                <li><%= link_to 'File uploads', file_uploads_path %></li>
                            </ul>
                        </li>
                        <% if user_signed_in? %>
                        	<li class="dropdown">
                        	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Logged in as <strong><%= current_user.name %></strong><b class="caret"></b></a>
														<ul class="dropdown-menu">
															<li><%= link_to 'Edit profile', edit_user_registration_path %></li>
															<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
														</ul>
                        	</li>
                        <% elsif ! current_page?(:controller => "home", :action => "index") %>
													<li>
														<ul>
														<li><a href="#header-login-form" data-toggle="modal">Login</a></li>
														<li><a href="#header-register-form" data-toggle="modal">Register</a></li>
														</ul>
													</li>
												<% end %> 
                    </ul>
                   <h2><%= t('tool_title')%></h2>
                </div>   
             </div>
        </div>
    </div>
</div>
    