<!-- footer container -->
<footer class="footer">
    <div class="left_side_footer">
    <p><div class="left_left_footer"><span>Powered by</span> <%= link_to( image_tag('dmp-logo.png'), 'https://dmponline.dcc.ac.uk/about_us')%></div>
       <div class="center_left_footer">
       <%= link_to( image_tag('ua-lib-logo.png', width: '160px'), 'https://www.library.ualberta.ca') %></div>
       <div class="right_left_footer"><%= link_to( image_tag('udem.jpg'), 'http://www.bib.umontreal.ca') %></div>
   			</p>
       	
    </div>	
   	<div class="right_side_footer">
        <p><span class="footer_logo">Supported by</span> <%= link_to( image_tag('ua-lib-logo.png'), 'https://www.library.ualberta.ca')%>
<!--
   		<p><a href="https://library.ualberta.ca">University of Alberta Libraries</a> | <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada --> <br/> <a href="http://www.library.ualberta.ca/privacy/">Web Site Privacy Policy</a> | <%= link_to t('helpers.terms'), terms_path %>
 </p>
   	</div>	
    
    
</footer>

<% if !user_signed_in? then %>
	<div id='header-login-form' class='modal hide fade'>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3><%= t('helpers.sign_in')%></h3>
		</div>
		<div class="modal-body">
			<%= render :partial => 'shared/login_form' %>
		</div>
	</div>
	<div id='header-register-form' class='modal hide fade'>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3><%= t('helpers.sign_up')%></h3>
		</div>
		<div class="modal-body">
			<%= render :partial => 'shared/register_form', locals: {extended: false} %>
		</div>
	</div>
<% end %>
