<!DOCTYPE html>
<html>
	<head>
	  <title><%= t('tool_title')%></title>
	  <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <![endif]-->
	  <%= stylesheet_link_tag   "application", :media => "all"%>
	  <%= javascript_include_tag "application"%>
	  <%= yield(:head) %>
	  <%= csrf_meta_tags %>
	  
	  <!-- link to the font family -->
	  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	  
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  
	</head>
	<body>
		<!-- Alert about this version -->
		<div class="alert-error" style="width:900px">
			<p>
				This site is still in development. We hope you will try it out and appreciate your feedback via DMPonline@dcc.ac.uk. However, you may encounter errors and we cannot guarantee that your data will not be lost. Please note you will need to sign up, existing DMPonline tool logins will not work.
			</p>
		</div>
	
	    <!-- header renedering -->
	    <%= render "layouts/dmponline_header" %>
	    
		<div class="main_page_container">
			<% if notice %>
  				<p class="alert alert-notice"><%= notice %></p>
				<% end %>
			<% if alert %>
 				<p class="alert alert-error"><%= alert %></p>
			<% end %>
		      <%= yield %>
		</div>
		
		<!-- footer rendering -->
		<%= render "layouts/dmponline_footer" %>
			
	</body>
</html>
